<footer>
    <div class="Footer">
        <div class="mainfooter">
            <div class="container">
                <div class="row inf">
                    <div class="col-12 col-md-8">
                        <div class="Informations">
                            <img src="~/Content/img/Logo foot.png" class="logo" style="margin-bottom:10px;width:250px;height:80px;" />
                            <p>
                                Copyright © 2019 StuM School. All rights reserved.
                                <br />Designed and Developed by StuM SWD
                            </p>
                        </div>
                        <div class="footer-content">
                            <p>
                                <span class="fa fa-home"></span>
                                Peakview Tower, 36 Hoang Cau, O Cho Dua, Dong Da, Hanoi, Vietnam
                            </p>
                        </div>
                        <div class="footer-content">
                            <p>
                                <span class="fa fa-phone"></span>
                                (84)34.36.280.159
                            </p>
                        </div>
                        <p>Email: support@stumlearning.vn</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="Local">
                            <img class="img-fluid" src="~/Content/img/StuM (2).png" />
                            <p>
                                <br><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                                <a href="http://goo.gl/maps/UFNap25P3aLoJoX46" target="_blank" class="textlink" style="color: #fff;">View Map</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row social">
                    <div class="col-12 col-md-8 linksocial ">
                        <div class="social">
                            <div class="links">
                                <a href="/Home/CookiePolicy"><p class="textlink" style="border-right:1px solid #fff; margin-right: 24px;"><u>Cookies Policy </u></p></a>
                                <a href="/Home/Privacystatement"><p class="textlink" style="border-right:1px solid #fff; margin-right:24px;"><u>Privacy Statement </u></p></a>
                                <a href="/Home/TermsAndConditions"><p class="textlink" style=""><u>Terms and Conditions </u></p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 infsocial">
                        <div class="stuMsocial">
                            <a href="" target="_blank"><i class="fa fa-youtube-play fa-lg text-white iconSocial" aria-hidden="true" style="padding-right: 8px; padding-left: 8px;"></i></a>
                            <a href="" target="_blank"><i class="fa fa-facebook-official fa-lg text-white iconSocial" aria-hidden="true" style="padding-right: 8px; padding-left: 8px;"></i></a>
                            <a href="" target="_blank"><i class="fa fa-linkedin-square fa-lg text-white iconSocial" aria-hidden="true" style="padding-right: 8px; padding-left: 8px;"></i></a>
                            <a href="" target="_blank"><i class="fa fa-twitter fa-lg text-white iconSocial" aria-hidden="true" style="padding-right:8px;padding-left:8px;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
