<Header>
    <div id="myHeader" class="header">
        <div class="head">
            <div class="container d-flex" style="padding-bottom: 8px; padding-top: 8px;">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" data-toggle="hidden" title="Student Management System" href="/">
                        <img src="~/Content/img/LOGO.png" style=" width:200PX; height:40px;margin-right:16px;" />
                    </a>
                    <div class="navbar-collapse" id="searchN">
                        <form class="formSearch">
                            <div class="input-group">
                                <input type="text" id="btn" class="form-control" name="search">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <button type="button" class="btn btn-link" style=" background-color: midnightblue; border-color: midnightblue; border-radius: 50px">
                        <a class="login" href="/Login/Login" style="margin-right:8px;color:#fff;">Login</a>
                    </button>
                </nav>
            </div>
        </div>
        <div class="navbar menu" style="padding: 0px 0px 0px 0px;">
            <div class="container">
                <nav class="navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbardropdown" aria-controls="navbardropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse navigation collapse" id="navbardropdown">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" actionname="Home" onclick="displayHome()">
                                <a class="nav-link" href="/" style="font-weight: bold; font-size: 18px; border-bottom: 4px solid rgb(0, 105, 167); color: rgb(51, 51, 51);">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown" actionname="About">
                                <a class="nav-link dropdown-toggle" href="/" id="dropdownAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:bold;font-size:18px;padding-top:8px;padding-bottom:10px;margin-left:15px;margin-right:15px;">
                                    About
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbardropdown" style="width:220px">
                                    <a class="dropdown-item" href="/Home/Index">Mission & Vision</a>
                                    <a class="dropdown-item" href="/About/DevelopmentStrategy">Development Strategy</a>
                                    <a class="dropdown-item" href="/About/InformationOverview">About the StuM University</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown" actionname="Academics">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownAcademics" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:bold;font-size:18px;padding-top:8px;padding-bottom:10px;margin-left:15px;margin-right:15px;">
                                    Academics
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbardropdown" style="width:210px">
                                    <a class="dropdown-item" href="/Academic/Undergraduate">Undergraduate programs</a>
                                    <a class="dropdown-item" href="/Academic/Graduate">Graduate programs</a>
                                </div>
                            </li>
                            <li class="nav-item" actionname="Research">
                                <a class="nav-link disabled" href="/Home/Research" style="font-weight:bold;font-size:18px;padding-top:8px;padding-bottom:10px;margin-left:15px;margin-right:15px;color:#767676;">Research</a>
                            </li>
                            <li class="nav-item dropdown" actionname="Media">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownMedia" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:bold;font-size:18px;padding-top:8px;padding-bottom:10px;margin-left:15px;margin-right:15px;">
                                    Media
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbardropdown" style="width:200px">
                                    <a class="dropdown-item" href="/Media/Photo">Photo gallery</a>
                                    <a class="dropdown-item" href="/Media/Video">Videos</a>
                                </div>
                            </li>
                            <li class="nav-item" actionname="Contact">
                                <a class="nav-link disabled" href="/Home/Contact" style="font-weight:bold;font-size:18px;padding-top:8px;padding-bottom:10px;margin-left:15px;margin-right:15px;color:#767676;">Contact
                                </a>
                            </li>
                            <li class="nav-item" actionname="Admission">
                                <a class="nav-link" style="font-weight:bold;font-size:18px;padding-top:8px;padding-bottom:10px;margin-left:15px;margin-right:15px;color:#767676;" href="/Home/Admission">Admission</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</Header>

