
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="menuSearch">
    <div class="bannerHome">
        <div id="carouselControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/">
                        <img class="d-block w-100 img-fluid" src="~/Content/img/8.png" />
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/">
                        <img class="d-block w-100 img-fluid" src="~/Content/img/school.png" />
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/">
                        <img class="d-block w-100 img-fluid" src="~/Content/img/fac.png" />
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/">
                        ourschool
                        <img class="d-block w-100 img-fluid" src="~/Content/img/factilities.png" />
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="oursystem">
        <div class="container">
            <div class="row text">
                <div class="col-md-12">
                    <h5>OUR SCHOOL</h5>
                </div>
            </div>
            <div class="row system">
                <div class="col-12 col-md-3 first">
                    <div class="systemType">
                        <h6 style="font-size:30px">Student Information</h6>
                        <p>
                            A system that supports the storage and management of student records, including personal and academic information.
                            Allows easy access and update of student information for admins.
                            At the same time, generate reports and analyze student data to support decision-making.
                        </p>
                        <a href="/" class="btn btnright" type="button">
                            <img src="/" class="img-fluid" />
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3 second">
                    <div class="systemType">
                        <h6>Manage Course</h6>
                        <p>A platform for managing course lists, assigning teachers and students, recording grades, tracking assignments, and evaluating student performance. It also serves as a tool for managing academic schedules, including class schedules, exam schedules, and events.</p>
                        <a href="/" class="btn btnright" type="button">
                            <img src="https://fiinresearch.vn/img/Home/goto.png" class="img-fluid" />
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3 third">
                    <div class="systemType">
                        <h6>Communication</h6>
                        <p>Facilitates the sending of notifications and messages to students, creates online discussion forums and groups to support collaboration, and provides effective communication tools for all stakeholders.</p>
                        <a href="/" class="btn btnright" type="button"><img src="https://fiinresearch.vn/img/Home/goto.png" class="img-fluid" /></a>
                    </div>
                </div>
                <div class="col-12 col-md-3 final">
                    <div class="systemType">
                        <h6>Provide knowledge</h6>
                        <p>Through courses, students can learn and gain in-depth understanding of the knowledge they desire. It serves as a useful learning tool, providing a convenient and enjoyable experience for users.</p>
                        <a href="/" class="btn btnright" type="button"><img src="https://fiinresearch.vn/img/Home/goto.png" class="img-fluid" /></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="lastestNews">
        <div class="container">
            <div class="row navBar">
                <div class="col-12 col-md-6">
                    <h7>NEWS</h7>
                </div>
            </div>
            <div class="row slidelastestNews">
                <div class="col-md-12">
                    <div id="carouselSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row slidess">
                                    <div class="col-3 col-md-3 texthidden">
                                        <a href="/">
                                            <img src="~/Content/img/9.png" class="img-fluid" />
                                        </a>
                                        <p>28/05/2024</p>
                                        <h8><a href="/" class="titleReport" style="color: rgb(0, 105, 167);font-weight:bold;font-size:24px;">Update registration schedule for Online classes</a></h8>
                                        <p class="textdefault">
                                            StuM school announces: the online registration schedule for students studying the second degree will be updated at 8:00 p.m. on June 6, 2024. Students pay attention to the calendar to register for classes.
                                        </p>
                                        <a href="/" type="button" class="btn btn-outline-primary">See details</a>
                                    </div>
                                    <div class="col-3 col-md-3 texthidde">
                                        <a href="/">
                                            <img src="~/Content/img/10.png" class="img-fluid" />
                                        </a>
                                        <p>28/05/2024</p>
                                        <h8><a href="/" class="titleReport" style="color: rgb(0, 105, 167);font-weight:bold;font-size:24px;">StuM school started organizing online classes</a></h8>
                                        <p class="textdefault">
                                            StuM school announced: officially organizes additional online classes for dual degree students, supporting students studying a second degree.
                                        </p>
                                        <a href="/" type="button" class="btn btn-outline-primary">See details</a>
                                    </div>
                                    <div class="col-3 col-md-3 texthidd">
                                        <a href="/">
                                            <img src="~/Content/img/11.png" class="img-fluid" />
                                        </a>
                                        <p>27/05/2024</p>
                                        <h8><a href="/" class="titleReport" style="color: rgb(0, 105, 167);font-weight:bold;font-size:24px;">The student library was opened</a></h8>
                                        <p class="textdefault">
                                            The second library for students was officially opened on May 28, 2024. Students can get a library card to borrow books here. Students who already have a library card can borrow books here without having to get another card.
                                        </p>
                                        <a href="/" type="button" class="btn btn-outline-primary">See details</a>
                                    </div>
                                    <div class="col-3 col-md-3 texthidden">
                                        <a href="/">
                                            <img src="~/Content/img/12.png" class="img-fluid" />
                                        </a>
                                        <p>27/05/2024</p>
                                        <h8><a href="/" class="titleReport" style="color: rgb(0, 105, 167);font-weight:bold;font-size:24px;">Organize summer camps for students</a></h8>
                                        <p class="textdefault">
                                            Officially open registration for students wishing to participate in the 2024 summer camp in Korea. Estimated cost is about 33000000 VND.
                                        </p>
                                        <a href="/" type="button" class="btn btn-outline-primary">See details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row m&areports">
                                    <div class="col-3 col-md-3 texthidden">
                                        <a href="/">
                                            <img src="~/Content/img/13.png" style="font-weight: bold; height:200px; width: 265px; border-radius: 4px; margin-bottom: 8px;" class="img-fluid" />
                                        </a>
                                        <p>21/05/2024</p>
                                        <h8><a href="/" class="titleReport" style="color: rgb(0, 105, 167);font-weight:bold;font-size:24px;">[REGISTER] Volunteers to participate in support competence assessment exam work</a></h8>
                                        <p class="textdefault">
                                            Our M&A 2019 report provides latest key facts &A; figures and insights about Inbound M&A, Domestic M&amp;A and Outbound M&amp;A in Vietnam. We also presented sector review for Real Estate, Industrial Goods &amp; school, F&amp;B, Banks, Utilities, Health Care and Education. The report further reviewed key themes for M&amp;A in 2018 and 1H2019: M&amp;A Valuation, SOE IPOs and Divestments, FTAs, new Competition Law and Securities Law. Finally, we offered our perspectives and outlook on M&amp;A activities in Vietnam.
                                        </p>
                                        <a href="/" type="button" class="btn btn-outline-primary">See details</a>
                                    </div>
                                    <div class="col-3 col-md-3 texthidden">
                                        <a href="/">
                                            <img src="~/Content/img/14.png" class="img-fluid" style="height:200px;width:265px; border-radius: 4px;margin-bottom: 8px;" />
                                        </a>
                                        <p>19/05/2024</p>
                                        <h8><a href="/" class="titleReport" style="color: rgb(0, 105, 167);font-weight:bold;font-size:24px;">[SIGN UP] Join the volunteer board</a></h8>
                                        <p class="textdefault">
                                            Based on StuM's strategy, to increase student recruitment based on the results of StuM's Competency Assessment exam (HSA); StuM registers students to become volunteers to support the competency assessment test.
                                        </p>
                                        <a href="/" type="button" class="btn btn-outline-primary" >See details</a>
                                    </div>
                                    <div class="col-3 col-md-3 texthidden">
                                        <a href="/">
                                            <img src="~/Content/img/15.png" class="img-fluid" style="height:200px;width:265px; border-radius: 4px;margin-bottom: 8px;" />
                                        </a>
                                        <p>17/05/2024</p>
                                        <h8><a href="/" class="titleReport" style="color: rgb(0, 105, 167);font-weight:bold;font-size:24px;">HKII final exam schedule for school year 2023-2024</a></h8>
                                        <p class="textdefault">
                                            The training department sends you the HKII final exam schedule for the 2023-2024 school year at 2th Floor, Peakview Tower, 36 Hoang Cau, O Cho Dua, Dong Da (link attached): https://docs.google.com/spreadsheets/d/1EAaswPlwcW7uo9pI7FrZEw2cJW6USr3p/edit#gid=2122008241
                                        </p>
                                        <a href="/" type="button" class="btn btn-outline-primary" >See details</a>
                                    </div>
                                    <div class="col-3 col-md-3 texthidden">
                                        <a href="/">
                                            <img src="~/Content/img/16.png" class="img-fluid" style="height:200px;width:265px; border-radius: 4px;margin-bottom: 8px;" />
                                        </a>
                                        <p>15/05/2024</p>
                                        <h8><a href="/" class="titleReport" style="color: rgb(0, 105, 167);font-weight:bold;font-size:24px;">Job fair is coming in StuM School!</a></h8>
                                        <p class="textdefault">
                                            StuM officially held a career fair. Career Fair is an opportunity for third and final year students to seek internship and work opportunities at top companies in all fields. May 21, 2024 at 8am at 12th Floor, Peakview Tower, 36 Hoang Cau, O Cho Dua, Dong Da
                                        </p>
                                        <a href="/" type="button" class="btn btn-outline-primary" >See details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="introduce">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="introduction" style="background: midnightblue; color:#fff; min-width:690px; padding: 55px 110px 95px 60px; margin-top: 70px;">
                        <h3>Mission</h3>
                        <p style="text-align: justify;">To improve the quality of education and training, nurture high-quality human resources, and contribute to national development and community development.</p>     
                        <h3>Vision</h3>
                        <p style="text-align: justify;">To become a leading university in Vietnam and the region, providing high-quality human resources to meet the development needs of society.</p>
                    </div>
                </div>
                <div class="col-lg-6 div-img"><img class="img-fluid" src="~/Content/img/StuM (8).png" alt="/"></div>
            </div>
        </div>
    </div>
    <div class="educationalPhilosophy">
        <div class="container">
            <h5>EDUCATIONAL PHILOSOPHY</h5>
            <div id="carouselslideControls" class="carousel slide" data-ride="carousel" style="height:500px;">
                <div class="carousel-inner" style="height:100%;">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 offset-md-1 subtitle">
                                <div class="d-flex justify-content-start align-items-start">
                                    <div class="edu" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcR-0qAkblQ7OMBnAkkqE3Xe5uTV9IBbI91JTDr9TY6mneK18QIht9Tut5_2cfyfWAq7Y&usqp=CAU); "></div>
                                    <div class="text-right w-25">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60%" height="60%" preserveAspectRatio="none" viewBox="0 0 129.34 107.78" fill="rgba(0, 105, 167, 1)">
                                            <polygon points="0 107.78 0 50.18 24.87 0 55.85 0 35.35 48.44 36.66 50.18 56.73 50.18 56.73 107.78 0 107.78"></polygon>
                                            <polygon points="72.61 107.78 72.61 50.18 97.48 0 128.47 0 107.96 48.44 109.27 50.18 129.34 50.18 129.34 107.78 72.61 107.78"></polygon>
                                        </svg>
                                    </div>
                                </div>
                                <h9>Our belief</h9>
                            </div>
                            <div class="col-md-8 offset-md-3 description">
                                <p class="titledescribe" style=" font-size:24px;font-weight:bold;">We believe that</p>
                                <p class="describe">Education is a lifelong process. We encourage our students to become lifelong learners who are always eager to learn and explore new things.</p>
                                <p class="describe">Education is a collaborative effort between school, home, and community. We believe that a partnership between school, home, and community is essential to ensure that students receive the best possible education.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 offset-md-1 subtitle">
                                <div class="d-flex justify-content-start align-items-start">
                                    <div class="edu" style="background-image: url(https://www.shinesheets.com/wp-content/uploads/2018/08/things-that-stop-you-from-achieving-your-goals-art-photography.jpg); "></div>
                                    <div class="img w-25">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60%" height="60%" preserveAspectRatio="none" viewBox="0 0 129.34 107.78" fill="rgba(0, 105, 167, 1)">
                                            <polygon points="0 107.78 0 50.18 24.87 0 55.85 0 35.35 48.44 36.66 50.18 56.73 50.18 56.73 107.78 0 107.78"></polygon>
                                            <polygon points="72.61 107.78 72.61 50.18 97.48 0 128.47 0 107.96 48.44 109.27 50.18 129.34 50.18 129.34 107.78 72.61 107.78"></polygon>
                                        </svg>
                                    </div>
                                </div>
                                <h9>Our goals</h9>
                            </div>
                            <div class="col-md-8 offset-md-3 description">
                                <p class="describe">
                                    Prepare students for success in the 21st century. We equip our students with the knowledge, skills, and mindsets they need to succeed in a rapidly changing world.
                                    Nurture responsible and ethical citizens. We encourage our students to become responsible citizens who care about their communities and work to make a difference in the world.
                                    We encourage our students to become lifelong learners who are always eager to learn and explore new things.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 offset-md-1 subtitle">
                                <div class="d-flex justify-content-start align-items-start">
                                    <div class="edu" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqoJhHzCAWRucsWga5pPwToeB6XVi0QE3PVoFgI1f354nxjsyK5kBt123Q3Mzs421p-Oo&usqp=CAU); "></div>
                                    <div class="img w-25">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60%" height="60%" preserveAspectRatio="none" viewBox="0 0 129.34 107.78" fill="rgba(0, 105, 167, 1)">
                                            <polygon points="0 107.78 0 50.18 24.87 0 55.85 0 35.35 48.44 36.66 50.18 56.73 50.18 56.73 107.78 0 107.78"></polygon>
                                            <polygon points="72.61 107.78 72.61 50.18 97.48 0 128.47 0 107.96 48.44 109.27 50.18 129.34 50.18 129.34 107.78 72.61 107.78"></polygon>
                                        </svg>
                                    </div>
                                </div>
                                <h9>Commitment</h9>
                            </div>
                            <div class="col-md-8 offset-md-3 description">
                                <p class="titledescribe" style=" font-size:24px;font-weight:bold;">We are committed to</p>
                                <p class="describe">
                                    Providing students with a high-quality education. We are constantly improving our curriculum and services to ensure that our students receive the best possible education.
                                    Creating a safe and supportive learning environment. We are committed to creating a safe and supportive learning environment where all students feel welcome and respected.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselslideControls" role="button" data-slide="prev">
                    <span><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselslideControls" role="button" data-slide="next">
                    <span><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
      

<div class="d-flex justify-content-center align-items-center subscribe">
    <div class="container">
        <div class="mainsubscribe d-flex justify-content-center">
            <h10>Stay in the known with our newsletters</h10>
            <a href="https://fiingroup.us17.list-manage.com/subscribe?u=a47b835039482fc8a07a3ec16&id=0b7d0c7d78" class="sub">Subscribe</a>
        </div>
    </div>
</div>



