<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/scss/stylesheet.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    @Html.Partial("_HeaderPage")
    <div id="main-content" class="content-detail" style="margin-top:20px;">
        <div class="container container-1400">
            <header class="header">
                <div>
                    <div class="post-detail">
                        <h1>DEVELOPMENT STRATEGY</h1>
                        <hr style="width: 480px; height: 3px; background-color: #dcb42a; display: inline-block; margin: 0 0 15px; border: none;border-radius: 10px;">
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="paragraph1">
                    <strong>PERSPECTIVE</strong>
                    <p>
                        Develop StuM School in line with the orientation, policy, and overall development strategy of StuM University (StuM), taking a pioneering role in international joint training and international cooperation,
                        internationalizing the curriculum and approaching global higher education standards.
                    </p>
                    <p>
                        Maximize the combined strength from all resources, especially prioritizing the exploitation of values from the unit’s unique characteristics; promote connectivity, linkage, and comprehensive cooperation
                        with units within StuM University, Hanoi, and with agencies, organizations, businesses, and localities domestically and internationally to create added value and unique products.
                    </p>
                </div>
                <div class="paragraph2">
                    <strong>GENERAL OBJECTIVE</strong>
                    <p>
                        To train, conduct scientific research, and transfer technology oriented towards international accreditation standards based on the foundation of basic science, applied science, interdisciplinary science,
                        and knowledge transfer, contributing to increasing the internationalization index within StuM University, Hanoi, providing high-quality human resources and scientific-technological products that meet international standards for national development.
                    </p>
                </div>
                <div class="paragraph3">
                    <strong>SPECIFIC OBJECTIVES AND KEY TASKS</strong>
                    <p>
                        For the period 2020 – 2025, the StuM University has the following objectives and key tasks:
                    </p>
                </div>
                <div class="paragraph4">
                    <strong>1. Perfect the organizational model and high autonomy mechanism combined with modern university management to create a breakthrough in human resource development, especially high-quality human resources and talent utilization</strong>
                    <ul>
                        <li><span style="font-family: SVN-Poppins; ">Perfect the model, organizational structure, and innovate university management</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Build and operate a digital university</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Develop and implement autonomy projects</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Strengthen the training and development of faculty members and scientific departments</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Attract, recruit, and retain highly qualified staff and experts</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Implement preferential policies, value talent, while simultaneously motivating and encouraging, creating motivation</span></li>
                    </ul>
                </div>
                <div class="paragraph5">
                    <strong>2. Continue to innovate training work to improve the quality of human resources according to societal needs</strong>
                    <ul>
                        <li><span style="font-family: SVN-Poppins; ">Develop high-quality training programs according to societal needs</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Diversify training models and methods, improve quality and aim for international accreditation</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Diversify forms, methods, and policies of student recruitment</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Enhance the uniqueness of training programs and learners</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Continue to innovate teaching methods towards “individualization”</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Focus on tightly integrating scientific research with training</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Promote the development of science and technology based on applied research and innovation</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Perfect the management mechanism and policies on science and technology</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Enhance activities, increase scientific and technological products</span></li>
                    </ul>
                </div>
                <div class="paragraph6">
                    <strong>3. Strengthen cooperation and development to attract resources and establish StuM University as one of the major academic and international exchange centers of StuM</strong>
                    <ul>
                        <li><span style="font-family: SVN-Poppins; ">Increase sustainable financial resources for the development of StuM University</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Diversify financial resources</span></li>
                        <li><span style="font-family: SVN-Poppins; ">Invest in development and modernize infrastructure to meet the requirements of training, scientific research, and high-quality services</span></li>
                    </ul>
                </div>
                <div class="paragraph7">
                    <strong>KEY PROGRAMS</strong>
                    <p>
                        From the year 2022, StuM University focuses on implementing the following key programs:
                    </p>
                    <ul>
                        <li style="text-align: justify;"><span style="font-family: SVN-Poppins; ">Building a team of reputable experts and high-level scientific staff.</span></li>
                        <li style="text-align: justify;"><span style="font-family: SVN-Poppins; ">Improving the quality of undergraduate education.</span></li>
                        <li style="text-align: justify;"><span style="font-family: SVN-Poppins; ">Organizing management and postgraduate training.</span></li>
                        <li style="text-align: justify;"><span style="font-family: SVN-Poppins; ">Attracting international students.</span></li>
                        <li style="text-align: justify;"><span style="font-family: SVN-Poppins; ">Developing StuM University’s student body.</span></li>
                        <li style="text-align: justify;"><span style="font-family: SVN-Poppins; ">Enhancing the quality and diversity of scientific and technological activities.</span></li>
                        <li style="text-align: justify;"><span style="font-family: SVN-Poppins; ">Expanding international cooperation and attracting international human resources.</span></li>
                        <li style="text-align: justify;"><span style="font-family: SVN-Poppins; ">Applying information technology in management and teaching activities.</span></li>
                        <li style="text-align: justify;"><span style="font-family: SVN-Poppins; ">Establishing the StuM University brand.</span></li>
                        <li style="text-align: justify;"><span style="font-family: SVN-Poppins; ">Implementing activities at the Hoa Lac campus.</span></li>
                    </ul>
                </div>
                <div class="paragraph8">
                    <strong>SOME STRATEGIC TARGETS BY 2025</strong>
                    <table style="width: 52.5743%; border-collapse: collapse; border-color: #000000; background-color: #ffffff; height: 792px;" border="2" cellspacing="0">
                        <tbody>
                            <tr style="height: 24px;">
                                <td style="width: 38.2353%; height: 24px; text-align: center;"><span style=" font-family: SVN-Poppins;">
                                    <strong>STRATEGIC CONTENTS</strong></span>
                                </td>
                                <td style="width: 40.7407%; height: 24px; text-align: center;"><span style=" font-family: SVN-Poppins;">
                                    <strong>STRATEGIC TARGETS</strong></span>
                                </td>
                            </tr>
                        <tr style="height: 24px;">
                            <td style="width: 78.976%; height: 24px; text-align: center;" colspan="2"><span style=" font-family: SVN-Poppins;">
                                <em>
                                    <strong>Training</strong>
                                </em></span>
                            </td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="width: 38.2353%; height: 24px;"><span style=" font-family: SVN-Poppins;">Developing training programs</span></td>
                            <td style="width: 40.7407%; height: 24px;">
                                <span style="font-weight: 400; font-family: SVN-Poppins;">32 groups following undergraduate and postgraduate training program models, including 03 PhD fields</span>
                            </td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="width: 38.2353%; height: 24px;">
                                <span style=" font-family: SVN-Poppins;">Training scale </span>
                            </td>
                            <td style="width: 40.7407%; height: 24px; text-align: left;">
                                <span style=" font-family: SVN-Poppins;">6.000 students</span>
                            </td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="width: 38.2353%; height: 24px;">
                                <span style="font-weight: 400; font-family: SVN-Poppins;">The ratio of international joint training programs (including joint degrees, international linkages with degrees awarded by StuM University, Hanoi, and degrees awarded by partners) to the total scale of formal training</span>
                            </td>
                            <td style="width: 40.7407%; height: 24px;">
                                <span style=" font-family: SVN-Poppins;">30%</span>
                            </td>
                        </tr>
                        <tr style="height: 48px;">
                             <td style="width: 38.2353%; height: 48px;">
                                <span style="font-weight: 400; font-family: SVN-Poppins;">The employment rate of university graduates within 12 months after graduation</span>
                             </td>
                            <td style="width: 40.7407%; height: 48px;">
                                <span style=" font-family: SVN-Poppins;">95%</span>
                            </td>
                        </tr>
                        <tr style="height: 48px;">
                             <td style="width: 38.2353%; height: 48px;">
                                <span style=" font-family: SVN-Poppins;">Accreditation of training programs</span>
                             </td>
                             <td style="width: 40.7407%; height: 48px;">
                                <span style=" font-family: SVN-Poppins;">30% of the training programs are internationally accredited</span>
                             </td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="width: 78.976%; text-align: center; height: 24px;" colspan="2">
                                <span style=" font-family: SVN-Poppins;">
                                    <em>
                                        <strong>Research and Innovation</strong>
                                    </em>
                                </span>
                            </td>
                        </tr>
                        <tr style="height: 72px;">
                            <td style="width: 38.2353%; height: 72px;">
                                <span style=" font-family: SVN-Poppins;">Average number of papers published per total scientific staff per year</span>
                            </td>
                            <td style="width: 40.7407%; height: 72px;">
                                <span style="font-weight: 400; font-family: SVN-Poppins;">Domestically, it is 1.2; on the ISI/SCOPUS databases, it is 1.8 (of which, belonging to Q1, Q2 groups is 20%)</span>
                            </td>
                        </tr>
                        <tr style="height: 48px;">
                            <td style="width: 38.2353%; height: 48px;">
                                <span style=" font-family: SVN-Poppins;">Strong research groups at the level of StuM University, Hanoi</span>
                             </td>
                            <td style="width: 40.7407%; height: 48px;">
                                <span style=" font-family: SVN-Poppins;">3 groups</span>
                            </td>
                        </tr>
                        <tr style="height: 72px;">
                            <td style="width: 38.2353%; height: 72px;">
                                <span style="font-weight: 400; font-family: SVN-Poppins;">The ratio of faculty members with a doctoral degree to the total number of full-time faculty members</span>
                            </td>
                            <td style="width: 40.7407%; height: 72px;">
                                <span style=" font-family: SVN-Poppins;">65%</span>
                            </td>
                        </tr>
                        <tr style="height: 72px;">
                            <td style="width: 38.2353%; height: 72px;">
                                <span style="font-weight: 400; font-family: SVN-Poppins;">The ratio of faculty members with the title of professor or associate professor to the total number of full-time faculty members</span>
                            </td>
                            <td style="width: 40.7407%; height: 72px;">
                                <span style=" font-family: SVN-Poppins;">15%</span>
                            </td>
                        </tr>
                        <tr style="height: 24px;">
                            <td style="width: 78.976%; text-align: center; height: 24px;" colspan="2">
                                <span style=" font-family: SVN-Poppins;">
                                    <em>
                                        <strong>Digital Capability</strong>
                                    </em>
                                </span>
                            </td>
                        </tr>
                        <tr style="height: 72px;">
                            <td style="width: 38.2353%; height: 72px;">
                                <span style="font-weight: 400; font-family: SVN-Poppins;">The ratio of foreign nationality students studying (at least 01 credit) / to the total training scale
                                </span>
                            </td>
                            <td style="width: 40.7407%; height: 72px;">
                                <span style=" font-family: SVN-Poppins;">16%</span>
                            </td>
                        </tr>
                        <tr style="height: 96px;">
                            <td style="width: 38.2353%; height: 96px;">
                                <span style="font-weight: 400; font-family: SVN-Poppins;">The ratio of foreign nationality faculty members (teaching at least 01 specialized topic or having teaching or research time) / to the total faculty scale</span>
                            </td>
                            <td style="width: 40.7407%; height: 96px;">
                                <span style=" font-family: SVN-Poppins;">22%</span>
                            </td>
                        </tr>
                        <tr style="height: 48px;">
                            <td style="width: 38.2353%; height: 48px;">
                                <span style=" font-family: SVN-Poppins;">The ratio of ISI/SCOPUS papers with international cooperation</span>
                            </td>
                            <td style="width: 40.7407%; height: 48px;">
                                <span style="font-family: SVN-Poppins;">60%</span>
                            </td>
                        </tr>
                        <tr style="height: 48px;">
                            <td style="width: 38.2353%; height: 48px;">
                                <span style="font-weight: 400; font-family: SVN-Poppins;">Number of degree programs of StuM University, Hanoi offered abroad</span>
                            </td>
                            <td style="width: 40.7407%; height: 48px;">
                                <span style="font-family: SVN-Poppins;">01 training program</span>
                            </td>
                        </tr>
                    </tbody>
                 </table>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_FooterPage")
</body>
</html>
