<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/scss/stylesheet.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="Script.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
<body>
    @Html.Partial("_HeaderPage")
    <div class="content" style="margin-top:20px;">
        <div class="container container-1400">
            <header class="header">
                <div class="">
                    <div class="post-detail">
                        <h1 style="font-size:28px;">ABOUT THE STUM UNIVERSITY</h1>
                        <hr style="width: 400px; height: 3px; background-color: #dcb42a; display: inline-block; margin: 0 0 15px; border: none;border-radius: 10px;">
                    </div>
                </div>
            </header>
            <div class="mainContent">
                <p style="text-align: justify;">
                    <span style="font-family: SVN-Poppins;">
                        StuM University, with I – Innovation, Interdisciplinarity, Internationalization, Integration, S – Start-up, Self-Study, Sustainability, Self-worth, is a training unit with its own identity and values ​​in StuM-HN, which is a place to connect East – West, attracting prestigious experts, scientists, and good students to study and research, thereby contributing values ​​to society and community.
                    </span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-family: SVN-Poppins;">StuM University has the mission of training high-quality human resources to meet the needs of the domestic and international labor markets on the basis of creatively applying educational achievements, advanced science and technology to the environment of Vietnamese culture, conducting all the training programs in foreign languages. That mission is currently being carried out under 3 pillars: (1) creating new knowledge, transferring knowledge and skills to learners and serving society, contributing to the development of the country; (2) successfully completing the tasks assigned by StuMHN; and (3) financial autonomy.</span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-family: SVN-Poppins;">StuM University, formerly known as International Faculty, an affiliated unit of StuM University, Hanoi, with 20 years of formation and development, was established according to Decision No. 3868/QĐ- dated December 1, 2021 of the President of StuM University, Hanoi.</span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-family: SVN-Poppins;">
                        Striving with perseverance for the orientation of high-quality training and scientific research, from a unit implementing only one undergraduate training program in Russian, up to now, the school has developed 15 undergraduate training programs and 06 graduate training programs with different training methods (joint training programs, double major, dual degree, etc). The school is also a training unit that deploys all training programs in foreign languages ​​with the ratio of international lecturers participating in teaching in each program from 30% to 70%.
                        Now, the training scale of the school is more than 6,000 undergraduate and graduate students. During 20 years of operation, the school has contributed to producing high-quality human resources for the society, meeting the increasingly strict requirements of the labor market. Nearly 20,000 students have graduated from the undergraduate courses and programs with the right job placement rate of over 93% after one year of graduation. The school’s graduate training system has nearly 700 masters graduated from 17 cohorts of master’s programs.
                    </span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-family: SVN-Poppins;">In the period from 2015 to now, the school has had nearly 500 scientific publications by staff and lecturers, of which more than 200 international scientific publications are in the list of WoS, and Scopus. The school is also a prestigious address for organizing international scientific forums. Big scientific conferences and workshops on educational management, in professional fields such as economics, finance, banking, etc. have attracted the attention and participation of hundreds of scholars and researchers from over 30 countries and territories around the world. In addition, the annual student scientific research activities have attracted more than 500 students to participate with many creative and practical products, and gained many high achievements at the school and StuM levels, as well as nationwide. The students also participate in scientific conferences and workshops, have joint scientific publications with lecturers in prestigious national and international scientific journals. This is the result of attractive incentives developed and implemented by the school to encourage research activities among staff and students.</span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-family: SVN-Poppins;">StuM University has been implementing an International Scholar Attracting Program (including overseas Vietnamese scholars) to lead and chair training, scientific research and technology development activities. The school has established 16 research groups covering the fields of engineering and technology, economics and management, finance, marketing, data science, photonics, AI, IoTs, machine learning, biomedicine, etc. cooperating with many leading scientists such as Prof. Doctor of Science, Ho Tu Bao, Prof. Doctor of Science, Nguyen Dinh Duc, Prof. Dr. Nguyen Duc Khuong, Prof. Dr. Le Thi Hoai An, Dr. Nguyen Viet Cuong, Dr. Tran Quang Tuyen. On average, scientists and lecturers publish 100 ISI/SCOPUS papers per year; chairing projects at different levels such as the state level of key national programs, Nafosted, Hanoi Department of Science and Technology, and StuM level.</span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-family: SVN-Poppins;">With the strategic goal of becoming a prestigious international education hub in Vietnam, the school has developed cooperative relationships with nearly 40 universities, educational, scientific and technological institutions around the world, including the school’s partner universities, such as Keuka College, Troy University (USA); University of East London (United Kingdom), University of Nantes (France); Moscow University of Technology and Energy (Russia), HELP University (Malaysia), Lunghwa University of Science and Technology (Taiwan), etc. The areas of cooperation and training span many different fields, such as economics, business, administration, finance, management, engineering, information technology, data science, tourism, hotel, etc.</span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-family: SVN-Poppins;">Currently, the school has more than 200 lecturers, full-time staff, the percentage of scientific staff with doctoral degrees accounts for over 60% (100% of lecturers of specialisations graduated from abroad). In addition, the school has a team of foreign lecturers from international partner universities and visiting lecturers from domestic higher education and research institutions with the number of over 150 people per year.</span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-family: SVN-Poppins;">The school is now in the period towards realizing the mission of a university and the mission of a StuM-HN affiliated unit, which is to provide high-quality training, to develop scientific research with the attraction of leading-the-field scientists, transfer technology, innovate; exercise financial autonomy; strengthen international student exchange, credit exchange; develop key technical and technological training disciplines to meet the requirements of the Fourth Industrial Revolution; carry out digital transformation and comprehensive application of information technology in university administration and teaching and learning; deploy building a unique culture of StuM University.</span>
                </p>
            </div>
        </div>
    </div>
    @Html.Partial("_FooterPage")
</body>
</html>
