
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/scss/stylesheet.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    @Html.Partial("_HeaderPage")
    <div class="main" style=" margin-top: 40px; margin-bottom: 20px;">
        <div class="container" style="padding-right: 10px; padding-left: 10px;">
            <header class="header">
                <div>
                    <div class="post-detail" style="display: grid;">
                        <strong style="font-size:28px;">GRADUATE PROGRAM - DEGREE PROGRAMS</strong>
                        <hr style="width: 590px; height: 3px; background-color: #dcb42a; display: inline-block; margin: 0 0 15px; border: none;border-radius: 10px;">
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="img content" style="display: flex; justify-content: center;">
                    <img class="img-fluid" src="~/Content/img/StuM (14).png" />
                </div>
                <p>HOTLINE: +84 866 540 268</p>
                <p>EMAIL: tuyensinhthacsi@stum.edu.vn</p>
            </div>
        </div>
    </div>
    @Html.Partial("_FooterPage")
</body>
</html>

